@font-face {
    font-family: 'iconfont';  /* project id 457295 */
    src: url('https://at.alicdn.com/t/font_457295_a9dsgdk267mbo6r.eot');
    src: url('https://at.alicdn.com/t/font_457295_a9dsgdk267mbo6r.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_457295_a9dsgdk267mbo6r.woff') format('woff'),
    url('https://at.alicdn.com/t/font_457295_a9dsgdk267mbo6r.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_457295_a9dsgdk267mbo6r.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:45px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    animation: yinyue 1.5s ease infinite;

}
@keyframes yinyue{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
.wenzi{
    width:400px;
    height: 400px;
    position: absolute;
    bottom:350px;
    left:calc(50% - 200px);
}
h1{
    text-align: center;
    line-height: 650px;
    font-size: 60px;
    color:#000;
}
#start{
    width: 170px;
    height: 50px;
    border:none;
    border-radius:10px;
    position:absolute;
    bottom:250px;
    left:calc(50% - 85px);
    background-color: transparent;
    font-size:30px;
    font-family:"微软雅黑";
    cursor:pointer;
    transition :all 1s;
}
.left{
    width: 200px;
    /*height: 400px;*/
    background: #ff8216;
    background-color:transparent;
    padding: 10px 0;
    border:1px solid #000;
    border-radius:20px;
    position: absolute;
    left:130px;
    top:150px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-content: center;
    opacity: 0;
    transition: all 3s;
    overflow: hidden;
}
#qipu,#xiazai{
    display: block;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius:10px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    color:#000;
    font-weight: bold;
    line-height: 40px;

}
#down{
    border: 0;
    width: 150px;
    height: 40px;
    background-color: transparent;
    font-size: 18px;
    font-family: "微软雅黑";
    color:#000;
    font-weight: bold;
    line-height: 40px;
}
.moshi{
    width: 150px;
    height: 90px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius:10px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    color:#000;
    font-weight: 500;
    line-height: 40px;
    padding-top: 5px;
    padding-left: 7px;
}
#restart{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius:10px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    color:#000;
    font-weight: bold;
    line-height: 40px;
    display: none;
}
#wanjia,#ai{
    float: left;
    position: relative;
    top: 16px;
    left: 111px;
}
.container{
    width: 600px;
    height: 600px;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    background-color: #f90;
    display: none;
}
.mask{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    z-index:9;
    left:0;
    top:0;
    display: none;
    text-align: center;

}
span{
    font-size: 50px;
    color:#fff;
    text-align: center;
    line-height: 600px;

}
@keyframes show {
    0%{
        transform: scale(0.1,0.1);
    }
    100%{
        transform: scale(1,1);

    }
}
.show{
    display: block;
    animation: show 1.5s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
canvas{
    border:1px solid #000;
}
.music{
    position: absolute;
    top:80px;
    right:120px;
    animation: yinyue 1.5s ease infinite;
}
.imgbox{
    width: 610px;
    height: 610px;
    position:absolute;
    left:0px;
    top:0px;
    background:#ff8216;
    display:none;
    z-index:99;
}